APP_NAME=ExpedientesApp
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_KEY=change_this_secret
APP_TIMEZONE=America/Mexico_City

DB_HOST=mysql
DB_PORT=3306
DB_NAME=expedientes_app
DB_USER=expedientes
DB_PASS=expedientes123

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@expedientesapp.local
SMTP_FROM_NAME="Expedientes App"

WHATSAPP_PROVIDER=twilio
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
WHATSAPP_TO=
TWILIO_SID=
TWILIO_FROM=

REDIS_HOST=redis
REDIS_PORT=6379

PMA_HOST=mysql
PMA_PORT=3306
